*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body,#wrap,#out{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap{
    width: 100px;
    height: 100px;
    border-radius: 100% 100% 100% 0;
    border: 2px solid orangered;
    position: relative;
    animation: roundRotate 2s linear infinite;
}
#out{
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 52px;
    height: 52px;
    background: white;
    transform-origin: right top;
}
#inner{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: deeppink;
}
#left,#hide{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 60px;
    border-radius: 30px 0 0 30px;
}
#hide{
    background: pink;
    transform-origin: right center;
    animation: roundRotate 2s linear infinite;
}
#left{
    background: deeppink;
    opacity: 0;
    animation: show 2s steps(1,end) infinite;
}
#right{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 60px;
    border-radius: 0 30px 30px 0;
    background: pink;
    opacity: 1;
    animation: hide 2s steps(1,end) infinite; /*steps 的end，停留在0的状态，然后跳到50%的状态；steps 的start，停留在%的状态，然后跳到%的状态*/
}
@keyframes roundRotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes hide {
    0% { opacity: 1; }
    50% { opacity: 0; }
}
@keyframes show {
    0% { opacity: 0; }
    50% { opacity: 1; }
}